<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>AI Quiz Generator</title>
<link rel="stylesheet" href="/static/css/style.css">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

</head>

<body>

<header class="navbar">
<h2>QuizAI</h2>

<div class="nav-links">
<a href="/login">Login</a>
<a href="/register" class="btn">Get Started</a>
</div>
</header>

<section class="hero">

<h1>Generate Smart Quizzes <br> Using AI</h1>

<p>
Upload study material or paste a link and instantly generate quizzes.
</p>

<a href="/register" class="main-btn">Start Creating</a>

</section>

<section class="features">

<div class="card">
<h3>Upload Files</h3>
<p>Generate quizzes from PDFs, Docs and study notes.</p>
</div>

<div class="card">
<h3>Paste Links</h3>
<p>Extract questions from articles and web pages.</p>
</div>

<div class="card">
<h3>AI Generated Quiz</h3>
<p>Automatic MCQ generation using AI models.</p>
</div>

</section>

</body>
</html>